body{
    background-image: url(fon1.png)
}
.header{
    width: 100%;
    background-color:  rgba(47, 79, 79);
    border: 4px double black;
}
.h-top{
    height: 110px;
    width: 100%;
}
.h-left{
    width: 50%;
    display: inline-block;
    float: left;
}
.h-right{
    width: 50%;
    display: inline-block;
    float: right;
    height: 110px;
}
.h-left img{
    width: 150px;
    height: 110px;
    display: block;
    margin: 0 auto;
}
.devis{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    padding: 27px;
}

.sidebar{
    margin-top: 10px;
    background-color:  #F0E68C;
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    width: 15%;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 15px 0;
}
li{
    font-size: 20px;
}
.sidebar img{
    width: 90%;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 79, 79, 0.562);
    margin-top: 10px;
}
.flex-line{
    border-bottom: 2px solid black;
}
.flex-line img {
    width: 150px;
    height: auto;
    flex-direction: column; 
} 
.flex-line:last-child{
    border-bottom: none;
}
.leftimg {
    float:left; 
    margin: 5px; 
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 0 5px 0;
    font-size: 28px;
}
p{
    font-size: 16px;
    margin: auto;
}

.form{
    display: block;
    background-image: url();
}
form{
    margin: 15px;
}
label{
    margin: 2px;
}
.lr-form{
    display: flex;
    justify-content: space-around;
}
.l-email{
    float: left;
}
.r-name{
    float: right
}
.knopka{
    display: flex;
    justify-content: center;
}
button{
    font-size: 15px;
    padding: 0;
}

.f-top{
    width: 100%;
    height: auto;
    background-color: #F0E68C;
    margin-top: 15px;
    display: block;
}
.f-left{
    float: left; 
    width: 24%; 
    text-align: center;
}
.f-center{
    display: inline-block; 
    width: 50%; 
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.f-right{
    float: right; 
    width: 24%; 
    text-align: center;
}
.f-top p{
    font-size: 20px;
}